.footer_wrapper {
    width: 100vw;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    background-color: #F3F3F3;
    padding: 30px 0;
    color: black;
}

.footer {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
}

.footer_text {
    margin-right: 10px;
    width: calc(50% - 10px);
    height: 100%;
    float: left;
}

.icons {
    height: 100%;
    float: left;
    width: calc(50% - 10px);
}

.icons > * {
    margin-right: 10px;
    float: right;
}

@media only screen and (max-width: 600px) {
    .footer_wrapper {
        font-size: 0.7rem;
    }
  }