.navContainer {
  --multiplier: 1;
  width: 100%;
  height: calc(var(--multiplier) * 96.32px);
  background-color: #E6D3DC;
  .navContent {
    margin-left: calc(var(--multiplier) * 40px);
    margin-right: calc(var(--multiplier) * 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--multiplier) * 96.32px);
    .logoLink {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--multiplier) * 70px);
      height: calc(var(--multiplier) * 69.51px);
      .nobeCornellLogo {
        width: calc(var(--multiplier) * 70px);
        height: calc(var(--multiplier) * 69.51px);
      }
  
    }
    .navBar {
      .navList {
        display: flex;
        list-style-type: none;
        align-items: center;
        .navItem {
          font-family: "Roboto";
          font-weight: bold;
          font-size: calc(var(--multiplier) * 23px);
          color: white;
          margin-left: calc(var(--multiplier) * 40px);
          transform: translateY(0px);
          transition: all 0.3s ease-in-out;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            background-color: rgba(165, 166, 246, 0.8);
            padding: calc(var(--multiplier) * 20px) calc(var(--multiplier) * 34px);
            &:hover {
              background-color: rgba(165, 166, 246, 0.6);
            }
          }
          &:hover {
            transform: translateY(-4px);
          }
        }
      }
    }
  }

}