.navContainer {
  --multiplier: 1;
  width: 100%;
  height: calc(var(--multiplier) * 96.32px);
  background-color: #F47174;
  .navContent {
    margin-left: calc(var(--multiplier) * 40px);
    margin-right: calc(var(--multiplier) * 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--multiplier) * 96.32px);
    .logoLink {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--multiplier) * 70px);
      height: calc(var(--multiplier) * 69.51px);
      .nobeCornellLogo {
        width: calc(var(--multiplier) * 70px);
        height: calc(var(--multiplier) * 69.51px);
      }
  
    }
    .navBar {
      .hamburgerMenu {
        width: calc(var(--multiplier) * 60px);
        height: calc(var(--multiplier) * 60px);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        // transform-origin: bottom left;
      }
    }
  }
  .navList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-end;
    background-color: #EDEDED;
    position: absolute;
    top: calc(var(--multiplier) * 96.32px);
    right: 0;
    margin: 0;
    z-index: 2;
    width: calc(var(--multiplier) * 483px);
    height: calc(var(--multiplier) * 225px);
    transition: all 0.4s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    .navItem {
      font-family: "Roboto";
      font-weight: bold;
      font-size: calc(var(--multiplier) * 23px);
      color: #A5A6F6;
      transform: translateY(0px);
      transition: all 0.3s ease-in-out;
      margin-right: calc(var(--multiplier) * 20px);
      margin-top: calc(var(--multiplier) * 20px);
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        background-color: white;
        padding: calc(var(--multiplier) * 10px) calc(var(--multiplier) * 20px);
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
  }

}

@media screen and (max-width: 1440px) {
  .navContainer {
    --multiplier: 1
  }
}

@media screen and (max-width: 1000px) {
  .navContainer {
    --multiplier: 0.694
  }
}

@media screen and (max-width: 700px) {
  .navContainer {
    --multiplier: 0.486
  }
}

@media screen and (max-width: 500px) {
  .navContainer {
    --multiplier: 0.347
  }
}
