.aboutContainer {
    --multiplier: 1;
    width: 100%;
    height: 100%;
    min-height: -webkit-fill-available;
    .aboutNobe {
        margin-top: calc(var(--multiplier) * 30px);
        .aboutNobeText {
            width: calc(var(--multiplier) * 796.2px);
            height: calc(var(--multiplier) * 440px);
            background-image: url("../public/about-background.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .aboutNobeContent {
                padding-left: calc(var(--multiplier) * 80px);
                padding-top: calc(var(--multiplier) * 30px);
                color: white;
                width: calc(var(--multiplier) * 552.77px);
                .aboutHeader {
                    font-size: calc(var(--multiplier) * 50px);
                    margin: calc(var(--multiplier) * 5px) 0;
                }
                .aboutSecHeader {
                    color: black;
                    margin: calc(var(--multiplier) * 5px) 0;
                }
                .divider {
                    width: calc(var(--multiplier) * 145px);
                    height: calc(var(--multiplier) * 5px);
                    background-color: #BBBBBB;
                }
                .aboutContent {
                    font-size: calc(var(--multiplier) * 12px);
                }
            }
            .nycPhoto {
                position: absolute;
                z-index: 1;
                top: calc(var(--multiplier) * 18px);
                left: calc(var(--multiplier) * 700px);
                width: calc(var(--multiplier) * 600px);
                height: calc(var(--multiplier) * 400px);
            }

        }
    }
    .placements {
        width: 100%;
        padding-top: calc(var(--multiplier) * 25px);
        .placementsContent {
            padding-left: calc(var(--multiplier) * 75px);
            padding-right: calc(var(--multiplier) * 105px);
            display: flex;
            align-items: center;
            .placementsImage {
                width: calc(var(--multiplier) * 660px);
                height: calc(var(--multiplier) * 306px);
                margin-right: calc(var(--multiplier) * 50px);
            }
            .placementsText {
                .placementsHeader {
                    font-size: calc(var(--multiplier) * 25px);
                }
                .aboutContent {
                    font-size: calc(var(--multiplier) * 12px);
                }
                .divider {
                    width: calc(var(--multiplier) * 145px);
                    height: calc(var(--multiplier) * 5px);
                    background-color: #BBBBBB;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .aboutContainer {
        --multiplier: 1
    }
}

@media screen and (max-width: 1300px) {
    .aboutContainer {
        --multiplier: 0.903
    }
}

@media screen and (max-width: 1200px) {
    .aboutContainer {
        --multiplier: 0.833
    }
}

@media screen and (max-width: 1100px) {
    .aboutContainer {
        --multiplier: 0.764
    }
}


@media screen and (max-width: 1000px) {
    .aboutContainer {
        --multiplier: 0.694
    }
}

@media screen and (max-width: 900px) {
    .aboutContainer {
        --multiplier: 0.625
    }
}

@media screen and (max-width: 800px) {
    .aboutContainer {
        --multiplier: 0.556
    }
}

@media screen and (max-width: 750px) {
    .aboutContainer {
        --multiplier: 0.521
    }
}

@media screen and (max-width: 700px) {
    .aboutContainer {
        --multiplier: 0.486
    }
}

@media screen and (max-width: 600px) {
    .aboutContainer {
        --multiplier: 0.417
    }
}

@media screen and (max-width: 500px) {
    .aboutContainer {
        --multiplier: 0.347
    }
}

@media screen and (max-width: 400px) {
    .aboutContainer {
        --multiplier: 0.278
    }
}


@media screen and (max-width: 350px) {
    .aboutContainer {
        --multiplier: 0.243
    }
}
  
  