@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");

/* ==========
  global styles
  =========== */

.container {
  font-size: 15px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* ==========
    layout
    =========== */

.body {
  height: 100vh;
  position: relative;
  margin: 10px 50px 0px 50px;
}

/* ==========
    components
    =========== */

/* button */

.apply_button {
  font-family: "Montserrat";
  float: right;
  background-color: #8b0000;
  font-size: 1.3rem;
  color: white;
  border-radius: 12px;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 5px 0 #888;
  margin: 15px;
  transition: background-color ease-in-out 200ms;
}

.apply_button:hover {
  background-color: #b22222;
  cursor: pointer;
}

/* paragraphs */

.p {
  clear: both;
  margin: 10px 0px;
}

.mail {
  text-decoration: underline;
  color: blue;
}
