/* ==========
  global styles
  =========== */

.container {
  font-size: 15px;
  height: 100vh;
}

/* ==========
  layout
  =========== */

.body {
  // background-image: url("/cornell-background.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}

/* ==========
  components
  =========== */

  /* title */

.nobe_cornell {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.nobe_cornell h2 {
  display: inline-block;
  font-size: 7rem;
  margin: 0;
}

.nobe_cornell h3 {
  font-size: 1.5rem;
}

.cornell {
  color: #844;
}

