.homePageContainer {
  --multiplier: 1;
  .homePageContent {
    width: 100%;
    height: 100%;
    min-height: -webkit-fill-available;
    .bodyContent {
      margin: 0px;
      width: 100%;
      height: calc(100vh - calc(var(--multiplier) * 96.32px));
      background-image: url("../public/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .85;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .nobeCornellText {
        color: white;
        padding: 0;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
        height: calc(100vh - calc(var(--multiplier) * 96.32px));
        .nobeCornellHeadText {
          font-size: calc(var(--multiplier) * 100px);
          padding: 0;
          margin: 0;
        }
        .nobeCornellminiHeader {
          font-size: calc(var(--multiplier) * 20px);
          padding: 0;
          margin: 0;
        }
        .headerDivider {
          margin-top: calc(var(--multiplier) * 10px);
          width: calc(var(--multiplier) * 460px);
          height: calc(var(--multiplier) * 5px);
          background-color: #F47174;
        }
        .nobeCornellSecondaryText {
          font-size: calc(var(--multiplier) * 30px);
          text-align: center;
        }
      }
      .tlCorner {
        width: calc(var(--multiplier) * 125px);
        height: calc(var(--multiplier) * 125px);
        position: absolute;
        top: calc(var(--multiplier) * 25px);
        left: calc(var(--multiplier) * 25px);
      }
      .trCorner {
        width: calc(var(--multiplier) * 125px);
        height: calc(var(--multiplier) * 125px);
        position: absolute;
        top: calc(var(--multiplier) * 25px);
        right: calc(var(--multiplier) * 25px);
      }
      .blCorner {
        width: calc(var(--multiplier) * 125px);
        height: calc(var(--multiplier) * 125px);
        position: absolute;
        bottom: calc(var(--multiplier) * 25px);
        left: calc(var(--multiplier) * 25px);
      }
      .brCorner {
        width: calc(var(--multiplier) * 125px);
        height: calc(var(--multiplier) * 125px);
        position: absolute;
        bottom: calc(var(--multiplier) * 25px);
        right: calc(var(--multiplier) * 25px);
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .homePageContainer {
    --multiplier: 1
  }
}

@media screen and (max-width: 1000px) {
  .homePageContainer {
    --multiplier: 0.694
  }
}

@media screen and (max-width: 700px) {
  .homePageContainer {
    --multiplier: 0.486
  }
}

@media screen and (max-width: 500px) {
  .homePageContainer {
    --multiplier: 0.347
  }
}
