/* ==========
  global styles
  =========== */

.container {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* ==========
  layout
  =========== */
  .body {
    background-image: url("../public/skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
  }
/* ==========
  components
  =========== */

  /* title */

.nobe_cornell {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
  font-weight: 400;
}

.nobe_cornell h2 {
  display: inline-block;
  font-size: 7rem;
  margin: 0;
}

.nobe_cornell h3 {
  font-size: 1.5rem;
  margin: 0;
}

.cornell {
  color: rgb(184, 68, 68);
}

.attribution {
  font-size: 0.5em;
  float: left;
}

@media only screen and (max-width: 800px) {
  .nobe_cornell h2 {
    font-size: 6rem;
  }

  .nobe_cornell h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .nobe_cornell h2 {
    font-size: 4rem;
  }

  .nobe_cornell h3 {
    font-size: 1.2rem;
  }
}
